.vinyl{
    position: absolute;
    z-index:2;
    width: 35rem;
    height: 35rem;
    background-color: black;
    border-radius: 999999px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spinBack 0.3s linear;
    left:50%;
    /* animation:none; */
    transform-origin: center;
    
}
.album-cover{
    position: relative;
    z-index:1;
    width: 32rem;
    height: 32rem;
    transform: translate(-15%);
}
.vinyl.rotating{
    animation: spin 4s linear infinite;
    animation-delay: 0.75s;
}
/* .rotating.stopped{
    animation: none;
    transition: transform 0.5s ease-out;
} */
.small-circle{
    width: 98.5%;
    height: 98.5%;
    background-color: transparent;
    border-radius: 999999px;
    border:solid 1px;
    border-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-image{
    width: 60%;
    height: 60%;
    background-color: #1B4090;
    border-radius: 999999px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.song-name{
    /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
    font-size: 2.5rem;
    color: rgb(170, 164, 164);
    font-weight: bold;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-family: 'freight-big-pro';
}
.artist-name{
    font-size: 1.5rem;
    color: rgb(170, 164, 164);
    font-weight: 500;
    font-family: 'freight-big-pro';
}
.area{
    /* position: relative; */
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
.arm{
    position: absolute;
    left:81%;
    width: 10px;
    height: 20rem;
    background-color: #f0f0f0;
    /* position: absolute; */
    z-index: 100;
    /* right: 10rem; */
    transform-origin: top;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transform: rotate(-12deg);
    animation: armBack 0.7s ease-in-out;
}
.moving-arm{
    animation: arm 0.7s ease-in-out forwards;
}
.pin{
    width: 30px;
    height: 30px;
    background-color: #f0f0f0;
}

.play-song-text{
    color: #fff;
    font-family: 'freight-big-pro';
    font-size: 7rem;
    font-weight: normal;
    letter-spacing: -6.5px;
    overflow-wrap: break-world;
}

@media only screen and (max-width: 950px) {
    .small-image{
        background-image: url('../assets/cover.jpg');
    }
    .album-cover{
        display: none;
    }
    .vinyl{
        width: 35rem;
    height: 35rem;
    background-color: black;
    border-radius: 999999px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    left:0;
    }
    .arm{
        width: 10px;
        height: 20rem;
        background-color: #f0f0f0;
        /* position: absolute; */
        z-index: 100;
        /* right: 10rem; */
        transform-origin: top;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        transform: rotate(-12deg);
        animation: smallArmBack 0.7s ease-in-out;
    }
    .moving-arm{
        animation: smallArm 0.7s ease-in-out forwards;
    }
}
@keyframes smallArmBack{
    0%{
        transform: rotate(8deg);
    }
    100%{
        transform: rotate(-12deg);
    }
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes spinBack {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes rotateBack{
    0%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes arm{
    0%{
        transform: rotate(-12deg);
    }
    100%{
        transform: rotate(17deg);
    }
}
@keyframes smallArm{
    0%{
        transform: rotate(-12deg);
    }
    100%{
        transform: rotate(8deg);
    }
}
@keyframes armBack{
    0%{
        transform: rotate(17deg);
    }
    100%{
        transform: rotate(-12deg);
    }
}